@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MainMenuViewModel
<nav class=" navbar navbar-inverse">
    <div class="container-fluid">
        <div class=" navbar-header">
            <a class="navbar-brand" href="#">Menu</a>
        </div>
        <ul class=" nav navbar-nav">
            @foreach (var menu in ((MainMenuViewModel)Model).MainMenus)
            {
                <li>@Html.ActionLink(menu.Text, menu.Action, menu.Controller)</li>
            }
        </ul>
    </div>
</nav>