@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MainMenuViewModel
<nav class=" navbar navbar-inverse" id="MainMenu">
    <div class="container-fluid">
        <div class=" navbar-header">
            <a class="navbar-brand" href="#">Menu</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            @if (User.Identity.IsAuthenticated)
            {

                @foreach (var menuNames in ((MainMenuViewModel)Model).MainMenus(User.Identity.Name).Where(m => m.ParentMenu == null))
                {
                    <li>
                        <a asp-area="" asp-controller=@menuNames.Controller
                           asp-action=@menuNames.Action>@menuNames.Text</a>
                        <ul class="sub-menu">
                            @foreach (var subMenu in ((MainMenuViewModel)Model).MainMenus(User.Identity.Name).Where(n => n.ParentMenu == @menuNames.Id))
                            {
                                <li>
                                    <a asp-area="" asp-controller=@subMenu.Controller
                                       asp-action=@subMenu.Action>@subMenu.Text</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

            }
        </ul>
    </div>
</nav>